{% extends 'user.html.twig' %}

{% block title %}Tableau de bord
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-lg-6">
			<div class="main__content-dashboard__chart">
				<div class="balance-report__wrapper dashboard-single__box">
					<div class="balance-report">
						<div>
							<h4>Portefeuille</h4>
							<p class="secondary">{{ appName }}</p>
						</div>
					</div>
					<hr/>
					<div class="group">
						<div class="group-inner">
							<p>Investissement</p>
							<h6><img src="{{ asset('themes/front/assets/images/icons/invested.png') }}" alt="Invested"/>50{{ currency }}</h6>
						</div>
						<div class="group-inner">
							<p>Total Gagner</p>
							<h6><img src="{{ asset('themes/front/assets/images/icons/earned.png') }}" alt="Earned"/>€12.606,00</h6>
						</div>
					</div>
				</div>
				<div class="dashboard-single__box">
					<h5 class="investo">Mes transactions</h5>
					<div id="investmentChart"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="main__content-dashboard__sidebar">
				<div class="dashboard-single__box card-alt">
					<div class="card-tab-btn__wrapper">
						<a href="#bank" class="card-tab-btn">Bank Account</a>
						<a href="#credit" class="card-tab-btn card-tab-btn-active">Credit Card</a>
					</div>
					<div class="card-tab-wrp" id="bank">
						<div class="card-tab-content">
							<a href="javascipt:void(0)" class="add-card">
								<i class="fa-solid fa-plus"></i>
							</a>
							<div class="card-content">
								<p class="secondary card-no">Card No.</p>
								<p>**** **** **** 4567</p>
								<div class="group">
									<div class="group-inner">
										<p class="secondary">EXPIRY DATE
										</p>
										<p class="secondary">09/24</p>
									</div>
									<div class="group-inner">
										<p class="secondary">CURRENCY</p>
										<p class="secondary">USD</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-tab-wrp" id="credit">
						<div class="card-tab-content">
							<a href="javascipt:void(0)" class="add-card">
								<i class="fa-solid fa-plus"></i>
							</a>
							<div class="card-content-slider-wrapper">
								<div class="card-content-slider">
									<div class="card-content-wrapper">
										<div class="card-content">
											<p class="secondary card-no">Card No.</p>
											<p>**** **** **** 4567</p>
											<div class="group">
												<div class="group-inner">
													<p class="secondary">EXPIRY DATE
													</p>
													<p class="secondary">09/24</p>
												</div>
												<div class="group-inner">
													<p class="secondary">CURRENCY</p>
													<p class="secondary">USD</p>
												</div>
											</div>
										</div>
									</div>
									<div class="card-content-wrapper">
										<div class="card-content">
											<p class="secondary card-no">Card No.</p>
											<p>**** **** **** 4567</p>
											<div class="group">
												<div class="group-inner">
													<p class="secondary">EXPIRY DATE
													</p>
													<p class="secondary">09/24</p>
												</div>
												<div class="group-inner">
													<p class="secondary">CURRENCY</p>
													<p class="secondary">USD</p>
												</div>
											</div>
										</div>
									</div>
									<div class="card-content-wrapper">
										<div class="card-content">
											<p class="secondary card-no">Card No.</p>
											<p>**** **** **** 4567</p>
											<div class="group">
												<div class="group-inner">
													<p class="secondary">EXPIRY DATE
													</p>
													<p class="secondary">09/24</p>
												</div>
												<div class="group-inner">
													<p class="secondary">CURRENCY</p>
													<p class="secondary">USD</p>
												</div>
											</div>
										</div>
									</div>
									<div class="card-content-wrapper">
										<div class="card-content">
											<p class="secondary card-no">Card No.</p>
											<p>**** **** **** 4567</p>
											<div class="group">
												<div class="group-inner">
													<p class="secondary">EXPIRY DATE
													</p>
													<p class="secondary">09/24</p>
												</div>
												<div class="group-inner">
													<p class="secondary">CURRENCY</p>
													<p class="secondary">USD</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="slick-slider-dots"></div>
					</div>
				</div>
				<div class="account-info">
					<div class="dashboard-single__box">
						<div class="intro">
							<h5>Mes affiliers</h5>
						</div>
						{% for affilier in affiliers %}
							<div class="last-income">
								<div class="group">
									<img src="{{ asset('img/user.jpg') }}" alt="Last Income"/>
									<div>
										<h6>{{ affilier.nom }}
											{{ affilier.prenom }}</h6>
										<p class="secondary">{{ affilier.created|date('d/m/Y') }}</p>
									</div>
								</div>
							</div>
						{% else %}
							<p>Aucun Affilier...</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
