{% extends 'user.html.twig' %}

{% block title %}Mettre à jour mon mot de passe
{% endblock %}

{% block breadcrumb %}

	<div class="breadcrumb-dashboard">
		<h5 class="h5">Compte</h5>
		<div>
			<a href="{{ path('user_compte') }}">Compte</a>
			<i class="fa-solid fa-arrow-right-long"></i>
			<a href="">Sécurité</a>
		</div>
	</div>

{% endblock %}

{% block body %}

	<div class="account-content" id="security">

		<div class="change__pass">
			<div class="row neutral-row">
				<div class="col-md-6">
					<div class="change__pass-content column__space">
						<h5>Change Password</h5>
						<p>You can always change your password for security reasons or reset your password in case you forgot it.</p>
						<a href="{{ path('app_forgot_password_request') }}" class="button button--effect mt-3">Mot de passe oublié?</a>
					</div>
				</div>
				<div class="col-md-6">
					{{ form_start(resetForm) }}

					<div class="input input--secondary">
						{{ form_row(resetForm.plainPassword) }}
					</div>
					<button class="button button--effect">Mettre à jour</button>
					{{ form_end(resetForm) }}
				</div>
			</div>
		</div>

		<div class="account-content-single account-content-single__alt">
			<div class="intro">
				<h5>Additional Security</h5>
				<a href="#">Add Method</a>
			</div>
			<div class="account-content-single__inner">
				<div class="content">
					<h6>SMS recovery</h6>
					<p>Number ending with 1234</p>
				</div>
				<div class="content-right">
					<a href="#" class="button button--effect">Disable SMS</a>
				</div>
			</div>
			<div class="account-content-single__inner">
				<div class="content">
					<h6>Autheticator App</h6>
					<p>Google Authenticator</p>
				</div>
				<div class="content-right">
					<a href="#" class="button button--effect alt">Configure</a>
				</div>
			</div>
			<div class="account-content-single__inner">
				<div class="content">
					<h6>SSL Certificate</h6>
					<p>Secure Sockets Layer</p>
				</div>
				<div class="content-right">
					<a href="#" class="button button--effect alt">Configure</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
