{% extends 'user.html.twig' %}

{% block title %}Mettre à jour mon mot de passe
{% endblock %}

{% block breadcrumb %}

<div class="breadcrumb-dashboard">
	<h5 class="h5">Compte</h5>
	<div>
		<a href="{{ path('user_compte') }}">Compte</a>
		<i class="fa-solid fa-arrow-right-long"></i>
		<a href="">Sécurité</a>
	</div>
</div>

{% endblock %}

{% block body %}

<div class="account-info">
	<div class="account-content" id="security">

		<div class="change__pass">
			<div class="row neutral-row">
				<div class="col-md-6">
					<div class="change__pass-content column__space">
						<h5>Changer le mot de passe</h5>
						<p>Vous pouvez toujours changer votre mot de passe pour des raisons de sécurité ou réinitialiser votre mot de passe au cas où vous l'auriez oublié.</p>
						<a href="{{ path('app_forgot_password_request') }}" class="button button--effect mt-3">Mot de passe oublié?</a>
					</div>
				</div>
				<div class="col-md-6">
					{{ form_start(resetForm) }}

					<div class="input input--secondary">
						{{ form_row(resetForm.plainPassword) }}
					</div>
					<button class="button button--effect">Mettre à jour</button>
					{{ form_end(resetForm) }}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}