{% extends 'base.html.twig' %}

{% block title %}FAQs
{% endblock %}

{% block body %}
	<!-- ==== banner section start ==== -->
	<section class="support__banner bg__img clear__top" data-background="{{ asset('themes/front/assets/images/support-bg.png') }}">
		<div class="container">
			<div class="support__banner__area">
				<div class="support__banner__inner">
					<h1 class="neutral-top">FAQs</h1>
					<div class="faq__tab">
						<a href="#start" class="faq__tab__btn faq__tab__btn__active">Questions Fréquentes</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ==== #banner section end ==== -->

	<!-- ==== faq section start ==== -->
	<section class="faq section__space">
		<div class="container">
			<div class="faq__area">
				<div class="faq__tab__content" id="start">
					<div class="faq__group">
						<div class="accordion" id="accordionExampleStart">
							<div class="accordion-item content__space">
								<h5 class="accordion-header" id="headingStartOne">
									<span class="icon_box">
										<img src="{{ asset('themes/front/assets/images/icons/message.png') }}" alt="Start"/>
									</span>
									<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStartOne" aria-expanded="true" aria-controls="collapseStartOne">
										QU'EST CE QUE SMART SOLIDARITY ?
									</button>
								</h5>
								<div id="collapseStartOne" class="accordion-collapse collapse show" aria-labelledby="headingStartOne" data-bs-parent="#accordionExampleStart">
									<div class="accordion-body">
										<p>
											Smart solidarity est une plate forme de financement participatif de "dons avec récompenses" basée sur l'entraide et la solidarité
										</p>
									</div>
								</div>
							</div>
							<div class="accordion-item content__space">
								<h5 class="accordion-header" id="headingStartTwo">
									<span class="icon_box">
										<img src="{{ asset('themes/front/assets/images/icons/message.png') }}" alt="Start"/>
									</span>
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStartTwo" aria-expanded="false" aria-controls="collapseStartTwo">
										QUEL EST L'OBJECTIF VISÉ PAR SMART SOLIDARITY ?
									</button>
								</h5>
								<div id="collapseStartTwo" class="accordion-collapse collapse" aria-labelledby="headingStartTwo" data-bs-parent="#accordionExampleStart">
									<div class="accordion-body">
										<p>
											À la base nous sommes une association de partenaires ayant pour objectif de rassembler autour d'une plateforme entièrement décentralisée et securisée,une foule solidaire de personnes à travers le monde et leur permettre de s'auto-financer. Il s'agit du financement de la foule par la foule.
										</p>
									</div>
								</div>
							</div>
							<div class="accordion-item content__space">
								<h5 class="accordion-header" id="headingStartThree">
									<span class="icon_box">
										<img src="{{ asset('themes/front/assets/images/icons/message.png') }}" alt="Start"/>
									</span>
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStartThree" aria-expanded="false" aria-controls="collapseStartThree">
										QU'EST CE QUE LE FINANCEMENT PARTICIPATIF ?
									</button>
								</h5>
								<div id="collapseStartThree" class="accordion-collapse collapse" aria-labelledby="headingStartThree" data-bs-parent="#accordionExampleStart">
									<div class="accordion-body">
										<p>
											Il s'agit de la collecte de fonds fonctionnant sur une plateforme internet et permettant à un ensemble de contributeurs de choisir collectivement de financer directement et de manière traçable des projets.
										</p>
									</div>
								</div>
							</div>
							<div class="accordion-item content__space">
								<h5 class="accordion-header" id="headingStartFour">
									<span class="icon_box">
										<img src="{{ asset('themes/front/assets/images/icons/message.png') }}" alt="Start"/>
									</span>
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStartFour" aria-expanded="false" aria-controls="collapseStartFour">
										COMMENT ÇA FONCTIONNE?
									</button>
								</h5>
								<div id="collapseStartFour" class="accordion-collapse collapse" aria-labelledby="headingStartFour" data-bs-parent="#accordionExampleStart">
									<div class="accordion-body">
										<p>
											Smart solidarity est un système reposant sur 3 matrices lineaires ayant chacune 8 niveaux ou paliers  successifs avec des revenus croissants par niveau
											<br>
											a) Inscrivez-vous
											<br>
											b) Faites votre don unique de 10$,ainsi vous accédez au niveau 1 de la matrice 1 et devenez membre actif.
											<br>
											c) Commencez à recevoir vos revenus.
											<br>
											d) Évoluez simultanément sur les 3 matrices.
											<br>
											e) À la fin de la 3ème et dernière matrice le système vous débite 10$ et vouss repositionne automatiquement au niveau 1 de la matrice 1 pour un nouveau cycle.
										</p>
									</div>
								</div>
							</div>
							<div class="accordion-item content__space">
								<h5 class="accordion-header" id="headingStartFive">
									<span class="icon_box">
										<img src="{{ asset('themes/front/assets/images/icons/message.png') }}" alt="Start"/>
									</span>
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStartFive" aria-expanded="false" aria-controls="collapseStartFive">
										COMMENT GAGNE T-ON SUR SMART SOLIDARITY ?
									</button>
								</h5>
								<div id="collapseStartFive" class="accordion-collapse collapse" aria-labelledby="headingStartFive" data-bs-parent="#accordionExampleStart">
									<div class="accordion-body">
										<p>
											À chaque niveau de chaque matrice vous recevez 8 dons de personnes comme cela est indiqué sur le plan de rémunération.
										</p>
									</div>
								</div>
							</div>
							<div class="accordion-item content__space">
								<h5 class="accordion-header" id="headingStartSix">
									<span class="icon_box">
										<img src="{{ asset('themes/front/assets/images/icons/message.png') }}" alt="Start"/>
									</span>
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStartSix" aria-expanded="false" aria-controls="collapseStartSix">
										APRÈS COMBIEN DE TEMPS VAIS-JE GAGNER ?
									</button>
								</h5>
								<div id="collapseStartSix" class="accordion-collapse collapse" aria-labelledby="headingStartSix" data-bs-parent="#accordionExampleStart">
									<div class="accordion-body">
										<p class="neutral-top neutral-bottom">
											Il n'y a pas un temps déterminé pour gagner, mais le booster vous garantit une évolution rapide au sein des 3 matrices mondiales et donc des gains assez rapide.
										</p>
									</div>
								</div>
							</div>
              
							<div class="accordion-item content__space">
								<h5 class="accordion-header" id="headingFundSix">
									<span class="icon_box">
										<img src="{{ asset('themes/front/assets/images/icons/message.png') }}" alt="Fund"/>
									</span>
									<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFundSix" aria-expanded="true" aria-controls="collapseFundSix">
										QU'EST CE QUE LE BOOSTER ?
									</button>
								</h5>
								<div id="collapseFundSix" class="accordion-collapse collapse" aria-labelledby="headingFundSix" data-bs-parent="#accordionExampleFund">
									<div class="accordion-body">
										<p>
											Le booster assure l'évolution rapide des membres au sein des matrices.
										</p>
									</div>
								</div>
							</div>
							<div class="accordion-item content__space">
								<h5 class="accordion-header" id="headingFundSeven">
									<span class="icon_box">
										<img src="{{ asset('themes/front/assets/images/icons/message.png') }}" alt="Fund"/>
									</span>
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFundSeven" aria-expanded="false" aria-controls="collapseFundSeven">
										COMMENT FONCTIONNE LE BOOSTER ?
									</button>
								</h5>
								<div id="collapseFundSeven" class="accordion-collapse collapse" aria-labelledby="headingFundSeven" data-bs-parent="#accordionExampleFund">
									<div class="accordion-body">
										<p>
											Au passage d'un niveau à un autre nous débitons à chaque membre une partie des gains qui est réinjecté automatiquement dans le système comme de nouveaux comptes afin de faire évoluer les anciens membres rapidement.
										</p>
									</div>
								</div>
							</div>
							<div class="accordion-item content__space">
								<h5 class="accordion-header" id="headingFundHeight">
									<span class="icon_box">
										<img src="{{ asset('themes/front/assets/images/icons/message.png') }}" alt="Fund"/>
									</span>
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFundHeight" aria-expanded="false" aria-controls="collapseFundHeight">
										SUIS-JE OBLIGÉ DE PARRAINER ?
									</button>
								</h5>
								<div id="collapseFundHeight" class="accordion-collapse collapse" aria-labelledby="headingFundHeight" data-bs-parent="#accordionExampleFund">
									<div class="accordion-body">
										<p>
											Le parrainage n'est pas obligatoire mais vous pouvez gagner une commission de 30% sur le don de votre filleul c'est à dire vous gagnez 3$ par personne parrainée.
										</p>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ==== #faq section end ==== -->{% endblock %}
